* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bbe4e9;
  color: #615e5e;
}

.box {
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-self: auto;
}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}



.card {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  align-self: center;
  background-color: #79c2d0;
}

#btn {
  text-align: center;
}

button {
  min-height: 50px;
  border: 1px solid #ffffff;
  margin: 50px;
  padding: 10%;
  text-align: center;
  text-transform: uppercase;
  background-color: #53a8b6;
  color: #fefefe;
}

button:hover {
  background-color: #6bb5b5;
}
